*.env
**/.my.cnf
/nodes/node2/.env
/nodes/node2/data/
/proxy/conf/proxysql.cnf
/proxy/.env
/proxy/sql/*.sql

# Enunciado y guias de trabajo del proyecto
/Plan_Proyecto1_Bases2_Grupo4.md
/Plan_Trabajo_Proyecto1_Bases2_Grupo4.md
/Proyecto 1 - Grupos de 3.md

# Archivos Markdown de node2
/nodes/node2/node2.md

# Comandos
/comandos/*
