[mysqld]
server_id = 2
port = 3306
bind-address = 0.0.0.0
binlog_checksum = NONE
log-bin = mysql-bin

# Requisitos obligatorios
gtid_mode = ON
enforce_gtid_consistency = ON
log_replica_updates = ON

# Plugin de Group Replication
plugin_load_add = "group_replication.so"

# Los tres nodos deben utilizar el mismo UUID
loose-group_replication_group_name = "c395e8af-d580-4d6c-8574-a629027f1379"

loose-group_replication_start_on_boot = OFF
loose-group_replication_bootstrap_group = OFF

# Modo multi-primary: Nodo 1 y Nodo 2 podrán aceptar escrituras
loose-group_replication_single_primary_mode = OFF
loose-group_replication_enforce_update_everywhere_checks = ON

# Si el nodo abandona el grupo, queda protegido en modo lectura
loose-group_replication_exit_state_action = READ_ONLY

# Dirección propia del Nodo 2
loose-group_replication_local_address = "100.109.4.122:33061"

# Permitir direcciones de la red Tailscale
loose-group_replication_ip_allowlist = "100.64.0.0/10"

# Semillas: Nodo 1, Nodo 2 y Nodo 3
loose-group_replication_group_seeds = "100.113.38.39:33061,100.109.4.122:33061,100.107.61.57:33061"