[mysqld]
server_id = 2
port = 3306
bind-address = 0.0.0.0
binlog_checksum = NONE
log-bin = mysql-bin

# Requisitos obligatorios
gtid_mode = ON
enforce_gtid_consistency = ON
log_replica_updates = ON

# Configuración del Plugin con el prefijo 'loose-'
plugin_load_add = "group_replication.so"
loose-group_replication_group_name = "a2e52b20-4e3b-11ee-be56-0242ac120002"
loose-group_replication_start_on_boot = OFF
loose-group_replication_local_address = "100.125.240.39:33061"
loose-group_replication_group_seeds = "100.111.158.118:33061,100.125.240.39:33061,100.64.236.22:33061"
loose-group_replication_bootstrap_group = OFF