[mysqld]
# Identificación del Nodo 3
server_id = 3
report_host = mysql-nodo3
bind-address = 0.0.0.0

# Registro Binario y Transacciones Globales
log_bin = mysql-bin-nodo3
gtid_mode = ON
enforce_gtid_consistency = ON
log_replica_updates = ON
binlog_checksum = NONE

# Replicación de Grupo
plugin_load_add = 'group_replication.so'
loose-group_replication_start_on_boot = OFF
loose-group_replication_bootstrap_group = OFF
