[mysqld]
# =======================================================
# Identificacion del Nodo 3 (Carlos - Replica / Contingencia)
# =======================================================
server-id = 3
report_host = 100.107.61.57
bind-address = 0.0.0.0

# =======================================================
# Registro Binario y Transacciones Globales (GTID)
# =======================================================
log-bin = mysql-bin-nodo3
binlog_format = ROW
binlog_checksum = NONE
gtid_mode = ON
enforce_gtid_consistency = ON
log_replica_updates = ON
skip_name_resolve = ON

# =======================================================
# Modulo de Replicacion de Grupo (Group Replication)
# =======================================================
plugin-load-add = group_replication.so
loose-group_replication_group_name = "c395e8af-d580-4d6c-8574-a629027f1379"
loose-group_replication_start_on_boot = OFF
loose-group_replication_bootstrap_group = OFF
loose-group_replication_single_primary_mode = OFF
loose-group_replication_enforce_update_everywhere_checks = ON
loose-group_replication_exit_state_action = READ_ONLY
loose-group_replication_local_address = "100.107.61.57:33061"
loose-group_replication_ip_allowlist = "100.64.0.0/10"
loose-group_replication_group_seeds = "100.113.38.39:33061,100.109.4.122:33061,100.107.61.57:33061"