[mysqld]
server-id=1
log-bin=mysql-bin
binlog_format=ROW
binlog_checksum=NONE
gtid_mode=ON
enforce_gtid_consistency=ON
log_replica_updates=ON
transaction_write_set_extraction=XXHASH64
skip_name_resolve=ON
