[mysqld]
server-id=1
log-bin=mysql-bin
binlog_format=ROW
binlog_checksum=NONE
gtid_mode=ON
enforce_gtid_consistency=ON
log_replica_updates=ON
skip_name_resolve=ON

# Group Replication: se carga, pero no se inicia automaticamente.
plugin-load-add=group_replication.so
loose-group_replication_group_name=c395e8af-d580-4d6c-8574-a629027f1379
loose-group_replication_start_on_boot=OFF
loose-group_replication_bootstrap_group=OFF
loose-group_replication_single_primary_mode=OFF
loose-group_replication_enforce_update_everywhere_checks=ON
loose-group_replication_exit_state_action=READ_ONLY
loose-group_replication_local_address=100.111.158.118:33061
loose-group_replication_ip_allowlist=100.64.0.0/10

loose-group_replication_group_seeds=100.111.158.118:33061,100.125.240.39:33061,100.64.236.22:33061
